<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="mb-0">Restaurants</h1>
    <%= link_to new_restaurant_path, class: 'btn btn-primary' do %>
      <i class="fa-solid fa-plus me-1"></i> Add New Restaurant
    <% end %>
  </div>

  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    <% @restaurants.each do |restaurant| %>
      <div class="col">
        <%= render 'restaurants/card', restaurant: restaurant %>
      </div>
    <% end %>
  </div>
</div>
